@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap");

* {
  font-family: "Open Sans", sans-serif !important;
  letter-spacing: 0.5px;
}
/* html {
  --antd-wave-shadow-color: white !important;
} */
.logo {
  height: 40px !important;
  margin-top: -5px !important;
}
.text-container {
  max-width: 780px;
  line-height: 1.5;
  margin-left: auto;
  margin-right: auto;
  /* margin: 0 auto; */
}
.laptop-img {
  /* height: 365px; */
  max-width: 100%;
  margin-top: 45px;
}
.banner {
  background-color: whitesmoke;
  overflow: hidden;
  position: relative;
  padding: 80px 0px;
  height: 48vw;
}
.readmore {
  margin-top: -14px;
  margin-bottom: 38px;
  font-size: 15px;
}
.text {
  font-size: 19px;
  color: white;
}
/* .content1 {
	margin-top: 80px;
} */
.text-container-content1 {
  /* width: 41%; */
  max-width: 700px;
}
/* .banner1 {
	background-image: url('/img/banner1.jpg');
	
	background-color: #ccc;
	background-size: cover;
	background-position: 50%;
	height: 95vh !important;
	width: 100%;
	background-repeat: no-repeat;
	position: relative;
} */
.content1 {
  position: relative;
}
.banner1 {
  background-color: #0000000;
  background: linear-gradient(rgba(10, 10, 10, 0.959), rgba(27, 27, 27, 0.966)),
    url("/img/pionux-walpaper.jpg");
  overflow: hidden;
  height: 50vw;
}
.koompi_section_position {
  width: 50% !important;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%);
}
.banner2 {
  background-color: #2d3436;
  background: linear-gradient(rgba(10, 10, 10, 0.959), rgba(27, 27, 27, 0.966)),
    url("/img/Thmor Loy.jpg");
  overflow: hidden;
  height: 50vw;
}
.banner3 {
  background-color: #2d3436;
  background-image: linear-gradient(315deg, #2d3436 0%, #000000 74%);
  overflow: hidden;
  height: 900px;
}
.bossTittle-KoompiHome {
  color: black;
  font-size: 35px;
  font-weight: 700;
  /* margin-top: 50px; */
}
.subBanner-koompiPro img {
  max-width: 100%;
  height: 500px !important;
}
.readmore-a {
  padding: 12px;
  background-color: black;
  padding: 5px 20px;
  color: #fff;
  border-radius: 15px;
  margin-left: 20px;
}
.koompi {
  float: right;
}
.koompi span {
  font-size: 17px !important;
}
.subTittle-E11 {
  font-size: 64px;
  line-height: 67px;
  font-weight: 600;
  color: white !important;
  margin-top: 12px !important;
  margin-bottom: 80px !important;
}
.subTittle-Pro {
  font-size: 64px;
  line-height: 67px;
  font-weight: 600;
  color: white !important;
  margin-top: 12px !important;
  margin-bottom: 80px !important;
}
.shopping-cart {
  padding: 40px !important;
  background-color: #f2f2f2;
  border-radius: 8px !important;
  margin: 15px 0px;
}

.shopping-cart h1 {
  font-size: 25px !important;
  font-weight: bolder;
  margin: 0px !important;
}
.shopDesc {
  font-size: 18px !important;
}

.KoompiPRICE {
  font-size: 25px;
}
.quantity {
  font-size: 18px !important;
}
.order_summary {
  padding: 25px;
  background-color: #f2f2f2;
  margin: 15px 0px;
  border-radius: 8px !important;
}
.order_summary h3 {
  font-weight: bolder;
}
.container {
  width: 60%;
  margin-left: auto !important;
  margin-right: auto !important;
}
@media only screen and (min-width: 767px) {
  .disciption-tab {
    text-align: center !important;
  }
}
@media only screen and (max-width: 766px) {
  .ant-tabs-nav {
    float: left !important;
  }
}
@media only screen and (max-width: 1119px) {
  .container {
    width: 90%;
    margin-left: auto !important;
    margin-right: auto !important;
  }
  .subBanner-koompiPro img {
    height: auto !important;
  }
}
@media only screen and (max-width: 574px) {
  .img-show-all-section img {
    max-width: 100%;
    height: auto !important;
  }
}
@media only screen and (max-width: 518px) {
  .title-show-all-section {
    margin-left: auto !important;
  }
  .li-show-all-section {
    margin-left: auto !important;
  }
}
@media only screen and (max-width: 767px) {
  .upperSpec {
    display: none;
  }
  .banner2 {
    height: auto !important;
  }
  .banner1 {
    height: auto !important;
  }
  .banner3 {
    height: auto !important;
  }
  .show-padding-powerBatter {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
  .title-of-powerBattery-show {
    font-size: 30px !important;
  }
  .title-of-slim {
    font-size: 30px !important;
  }
}
@media only screen and (min-width: 768px) {
  .upperSpec-width-767px {
    display: none;
  }
}
@media only screen and (max-width: 989px) {
  .img-show-all-section img {
    height: auto !important;
    max-width: 100% !important;
  }
  .title-show-all-section {
    margin-left: 0 !important;
  }
  .li-show-all-section {
    margin-left: 0 !important;
  }
}
.upperSpec-width-767px h1 {
  font-size: 20px !important;
  color: #fff;
}
.upperSpec-width-767px span {
  color: #63636e !important;
}

.p-of-performance {
  font-size: 22px;
  color: #63636e !important;
}
.upperSpec {
  line-height: 12px !important;
  margin-bottom: 41px;
}
.upperSpec h1 {
  font-size: 43px;
  color: #fff;
}
.upperSpec span {
  color: #63636e;
}
.Performance {
  margin: 46px 0 60px 0;
}

/* .Carousel1 {
	background-image: url('/img/matebookxpro2019-grey.png');
	height: 800px;
	background-size: cover;
	background-position: 50%;
	background-repeat: no-repeat;
	position: relative;
	z-index: 1;
	margin: 0 auto;
	background-size: contain;
} */
.professional-performance {
  background-color: black;
  overflow: hidden;
  margin-top: 56px !important;
}
.professional-performance-h {
  color: white !important;
  margin-top: 61px;
}
.professional-performance-p {
  color: #63636e !important;
  font-size: 21px;
}
.Microchip {
  margin-top: 60px;
  margin-bottom: 55px;
}
.background-color {
  background-color: #121217;
}
.banner-overview {
  /* max-width: 1143px; */
  max-width: 100%;
}
.ant-tabs-bar {
  /* background-color: #121217; */

  border-bottom: 0.02px solid white !important;
  color: white;
  width: 700px;
  margin: 0 auto !important;
}
.KoompiE11 {
  margin-top: 90px;
  color: #63636e !important;
}
.KoompiPro {
  margin-top: 90px;
  color: #63636e !important;
}
.p-of-powerBattery {
  font-size: 21px;
  color: #63636e !important;
}
.title-of-powerBattery {
  color: #63636e !important;
}
.p-power-batter-show {
  color: #63636e !important;
}
.title-of-powerBattery-show {
  color: white !important;
  margin-bottom: 4px !important;
}
.title-of-powerBattery-show span {
  font-size: 18px !important;
}
.Power-Batter {
  margin-top: 56px;
}
.show-padding-powerBatter {
  padding-left: 114px;
  padding-right: 114px;
}
.title-of-voidCommand {
  color: #63636e !important;
}
.p-of-voidCommand {
  color: #63636e !important;
  font-size: 23px;
}
.text-koompi-section-banner {
  color: black;
  font-size: 18px;
  /* margin-top: 50px; */
}
.text-koompiePro-banner {
  color: white;
  font-size: 18px;
  padding: 0px 0px !important;
}
.tittle-koompiPro-banner {
  color: white;
  font-size: 50px;
  font-weight: 700;
  margin-top: 60px;
}
.text-koompib14-banner {
  color: black;
  font-size: 23px;
}
.text-koompib15-banner {
  color: black;
  font-size: 23px;
}
.img-show-all-section img {
  height: 200px;
  max-width: 100%;
}
.li-show-all-section {
  /* margin-left: 145px; */
  font-size: 16px;
  line-height: 30px;
}
.title-show-all-section {
  margin-left: 145px;
  margin-top: 30px;
}
.button-show-all-section button {
  margin-top: 30px;
  border-radius: 35px !important;
}
.link-show-all-section {
  padding: 12px;
  font-size: 16px;
}
.icon-right {
  font-size: 9px;
}
.boss-show-all-section {
  margin-top: 45px;
}
.subboss-show-all-section {
  margin-top: 58px;
}
.read_more {
  border: 0px !important;
  border-radius: 15px !important;
  padding: 0px 30px !important;
  margin-top: 10px;
}
.banner_content {
  position: absolute;
  top: 15vh;
}
.index_banner {
  position: relative;
}
.index_banner img {
  position: absolute;
  transform: scale(1.8) !important;
  width: 90%;
  top: 20vh !important;
  left: 10vw;
}
.koompi_content {
  margin: 40px 0px;
}
.voice-text {
  font-size: 23px;
  color: #63636e !important;
  margin-top: 18px;
}
.boss-voice {
  margin-top: 90px !important;
}
.boss-command {
  margin-top: 75px;
}
.command-text {
  font-size: 23px;
  color: #63636e !important;
  margin-top: 18px;
}
.title-of-slim {
  color: #fff !important;
  margin-bottom: 4px !important;
}
.text-of-slim {
  font-size: 21px;
  color: #63636e !important;
  margin-top: 18px;
}
.boss-of-slim {
  margin-top: 56px;
}
/* .title-of-slim {
	color: white !important;
	margin-bottom: 4px !important;
} */

.p-of-slim {
  color: #63636e !important;
}
.title-of-slim span {
  font-size: 18px !important;
}
.header-of-slim {
  margin-top: 56px;
  color: #63636e !important;
}
.banner-overview-koompiE11 {
  /* max-width: 1143px; */
  max-width: 100%;
}
.banner-overview-display-koompiE11 {
  /* max-width: 1143px; */
  max-width: 100%;
}
.Title-Display-koompiE11 {
  color: #63636e !important;
}
.text-Display-koompiE11 {
  font-size: 21px;
  color: #63636e !important;
}
.text-show-all-Display {
  margin-top: -24px;
  color: #63636e !important;
}
.sunIcon-Display {
  height: 42px;
}
.text1-show-all-Display {
  color: #63636e !important;
}
.title-Display-Descrip {
  color: white !important;
}
.banner-Performance-koompiE11 {
  /* max-width: 1143px; */
  max-width: 100%;
}
.title-performance-koompiE11 {
  color: #63636e !important;
}
.text-performence-koompiE11 {
  color: #63636e !important;
  font-size: 21px;
}
.margin-display-koompiE11 {
  margin-top: 100px;
}
.margin-performence-koompiE11 {
  margin-top: 100px;
}
.title-performance-koompiE11-descrip {
  color: white !important;
}
.title-performance-koompiE11-descrip span {
  font-size: 23px;
}
.text-performence-koompiE11-descrip {
  color: #63636e !important;
  margin-top: -24px;
}
.text-performence-koompiE11-descripOfIcon {
  color: #63636e !important;
}
.Icon-performence-koompiE11 {
  height: 40px;
}
.IconBatter-of-koompiE11 {
  margin-top: 26px !important;
}
.text-battery-koompiE11 {
  color: #63636e !important;
  font-size: 21px;
}
.border-battery {
  margin-top: 26px !important;
  border-top: 0.02px solid white;
  margin-bottom: 12px;
}
.spec-background {
  background-color: white;
}
.ant-layout-header {
  height: auto !important;
  padding: 5px 0px !important;
  line-height: 64px;
  background: #121217 !important;
}
.ant-menu-dark {
  background: #121217 !important;
}
.ant-menu-dark.ant-menu-horizontal > .ant-menu-item,
.ant-menu-dark.ant-menu-horizontal > .ant-menu-submenu {
  top: 0px !important;
  margin-top: 0 !important;
  border-color: #001529 !important;
  border-bottom: 0 !important;
  font-size: 18px !important;
  letter-spacing: 0px !important;
  font-weight: 500 !important;
}
.ant-menu.ant-menu-dark .ant-menu-item-selected,
.ant-menu-submenu-popup.ant-menu-dark .ant-menu-item-selected {
  background-color: transparent !important;
}
.boss-of-slim-koompiE {
  margin-top: 108px;
}
.spec-grid {
  width: 845px;

  margin-right: auto;
}
.greyColorKoompiPro {
  height: 33px;
  background-color: #808080;
  border-radius: 16px;
  width: 33px;
  cursor: pointer;
}
.roseGoldColorKoompiPro {
  height: 33px;
  background-color: #b76e79;
  border-radius: 16px;
  width: 33px;
  cursor: pointer;
}
.btn-banner {
  background: #001529 !important;
  color: white !important;
  border: none !important;
  border-radius: 58px !important;
}

.ant-tabs-nav {
  float: right;
}
.Form-Contact input {
  display: block;
  box-sizing: border-box;
  width: 100%;
  border-radius: 4px;
  border: 1px solid black;
  padding: 10px 15px;
  margin-bottom: 10px;
  font-size: 14px;
}
.Form-Contact label {
  line-height: 2;
  text-align: left;
  display: block;
  /* margin-bottom: 13px; */
  margin-top: 12px;
  color: black;
  font-size: 14px;
  font-weight: 200;
}
button[type="submit"],
.Form-Contact input[type="submit"] {
  background: #001529;
  color: white;
  text-transform: uppercase;
  border: none;
  margin-top: 40px;
  padding: 13px;
  font-size: 16px;
  font-weight: 100;
  letter-spacing: 10px;
  cursor: pointer;
}

button[type="submit"]:hover,
.Form-Contact input[type="submit"]:hover {
  background: #384756;
}
.contact-right {
  background-color: red !important;
}
.footerBackground {
  background-color: #001529;
  height: 40vh;
}

.order_summary_title {
  font-weight: 700;
  font-size: 24px !important;
}
.subtotal h5 {
  font-size: 16px !important;
  margin-top: 10px !important;
  clear: both;
}
.hrSummary {
  border: 0.1px solid #68686829;
  margin: 20px 0px;
}
.totalPrice {
  font-size: 22px !important;
  font-weight: 700;
  text-align: right;
}
.total {
  margin-top: 5px;
}
.btnBuy {
  width: 100% !important;
  margin: 15px 0px !important;
  padding: 20px !important;
  font-size: 18px !important;
  line-height: 0px !important;
  border: 0px !important;
  font-weight: 600 !important;
}
.btnRemove {
  float: right;
  padding: 0px 50px !important;
  border: 0px !important;
  font-weight: 600 !important;
}
.shopping-cart-icon {
  font-size: 24px !important;
  position: relative;
  top: 2px;
}
.koompi_page_title {
  font-size: 40px !important;
  color: #fff;
  font-weight: bolder;
  padding-top: 100px;
  padding-bottom: 0px;
  padding-left: 60px;
  padding-right: 60px;
}
.koompi_page_subtitle {
  color: #fff;
  font-weight: 500;
  font-size: 25px;
  margin-bottom: 80px;
}
.koompi_page_content {
  width: 70%;
  margin: 0px auto;
}
.koompi_page_section_title {
  font-size: 40px;
  color: #fff !important;
}
