body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
/* .logo{
  height: 52px !important;
}
.text-container{
  width:65%;
}
.laptop-img{
  height: 400px;
}
.banner{
  background-color:whitesmoke;
}
.readmore{
  margin-top:-14px;
  margin-bottom: 5px;
  font-size: 15px;
}
.text{
  font-size: 19px;
}
.content1{
  margin-top:100px;
}
.text-container-content1{
  width:41%;
}
.banner1{
  background-image: url(".img/laptop.webp");
} */
