@import url("https://fonts.googleapis.com/css?family=Nunito:400,600,700&display=swap");
* {
  font-family: "Nunito", sans-serif !important;
}
.logo {
  height: 32px !important;
  background: rgba(255, 255, 255, 0.2) !important;
  margin: 16px !important;
}
.avatar {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  float: right;
  position: relative;
  left: -15px;
  top: 7px;
}
.container {
  width: 75%;
  margin: 0px auto;
}
.background_container {
  background-color: #ffffff;
  padding: 30px;
  margin: 20px 0px;
  box-shadow: 0px 0 10px 0 rgba(183, 192, 206, 0.2);
  border-radius: 5px;
}
.title_new_post {
  font-size: 30px !important;
  font-weight: bolder;
}
.category,
.tags {
  font-size: 16px !important;
}
.ant-layout-sider {
  background: #1e272e !important;
}
.ant-menu-dark {
  background: #4b5258 !important;
}
.ant-menu-dark .ant-menu-inline.ant-menu-sub {
  background: #323b42 !important;
  box-shadow: none !important;
}
.ant-layout-sider-trigger {
  background: #1890ff !important;
}
.ant-menu.ant-menu-dark .ant-menu-item-selected,
.ant-menu-submenu-popup.ant-menu-dark .ant-menu-item-selected {
  margin: 0px auto !important;
}
.ant-menu-dark.ant-menu-inline .ant-menu-item,
.ant-menu-dark.ant-menu-inline .ant-menu-submenu-title {
  margin: 0px auto !important;
}
.ant-layout-footer {
  padding: 13.5px 50px;
  color: rgb(255, 255, 255);
  font-size: 14px;
  background: #1e272e;
  font-weight: 500;
}
.login-form-button {
  padding: 0px 50px;
  margin-top: 15px;
  height: 35px;
  border-radius: 3px !important;
  -webkit-border-radius: 3px !important;
  -moz-border-radius: 3px !important;
  -ms-border-radius: 3px !important;
  -o-border-radius: 3px !important;
  background-color: #188fff52 !important;
  border: none !important;
  box-shadow: none;
  text-shadow: none;
  color: #1890ff !important;
  font-weight: bolder;
  transition: 0.2s;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
}
.login-form-button:hover {
  background-color: #1890ff !important;
  color: #fff !important;
}
.card_back {
  background-color: #fff;
  padding: 30px 10px;
  position: relative;
  margin-top: 40px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05) !important;
}
.card_icon {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 40px;
  width: 40px;
}
.icons_back {
  background-color: #ffffff;
  padding: 35px;
  position: absolute;
  top: -30px;
  left: 10px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.card_desc {
  font-size: 35px;
  margin: 0px !important;
  text-align: center;
  font-weight: 500;
}
.loginContainer {
  width: 30%;
  margin: 0px auto;
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}
.loginTitle {
  font-size: 30px;
  text-transform: uppercase;
  text-align: center;
  font-weight: bolder;
  position: relative;
  bottom: 15px;
}
.ocean {
  height: 5%;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  background: #015871;
}

.wave {
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/85486/wave.svg)
    repeat-x;
  position: absolute;
  top: -198px;
  width: 6400px;
  height: 198px;
  animation: wave 7s cubic-bezier(0.36, 0.45, 0.63, 0.53) infinite;
  transform: translate3d(0, 0, 0);
}

.wave:nth-of-type(2) {
  top: -175px;
  animation: wave 7s cubic-bezier(0.36, 0.45, 0.63, 0.53) -0.125s infinite,
    swell 7s ease -1.25s infinite;
  opacity: 1;
}

@keyframes wave {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: -1600px;
  }
}

@keyframes swell {
  0%,
  100% {
    transform: translate3d(0, -25px, 0);
  }
  50% {
    transform: translate3d(0, 5px, 0);
  }
}
.ql-editor {
  min-height: 300px;
  font-family: "Nunito", sans-serif;
}
/* .ant-input {
  background-color: #f0f2f5 !important;
  background-image: none;
  border: 1px solid #f0f2f5 !important;
} */

.ant-btn-primary[disabled] {
  color: rgba(0, 0, 0, 0.25) !important;
  background-color: #f5f5f5 !important;
  border-color: #d9d9d9 !important;
  text-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}
.ant-form-item {
  margin-bottom: 15px !important;
}

.ant-btn-sm.ant-btn-primary {
  padding: 0px 20px;
  background: #aed4f6;
  border: 1px solid transparent;
  color: #1890ff !important;
  font-weight: 600 !important;
  box-shadow: none !important;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}

.ant-btn-sm.ant-btn-primary:hover {
  background: #1890ff;
  color: #ffffff !important;
}
