@import url("https://fonts.googleapis.com/css?family=Nunito:400,600,700&display=swap");
* {
  font-family: "Nunito", sans-serif !important;
}
.logo {
  height: 32px !important;
  background: rgba(255, 255, 255, 0.2) !important;
  margin: 16px !important;
}
.avatar {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  float: right;
  position: relative;
  left: -15px;
  top: 7px;
}
.container {
  width: 90%;
  max-width: 90%;
  margin: 0px auto;
}
.background_container {
  background-color: #ffffff;
  padding: 30px;
  margin: 60px 0px;
  box-shadow: 0px 0 10px 0 rgba(183, 192, 206, 0.2);
  border-radius: 5px;
}
.title_new_post {
  font-size: 24px !important;
  font-weight: bolder;
  text-transform: uppercase;
  color: #2f2f2f;
  margin-bottom: 25px;
}
.category,
.tags {
  font-size: 16px !important;
}
.ant-layout-sider {
  flex: 0 0 250px !important;
  max-width: 250px !important;
  min-width: 250px !important;
  width: 250px !important;
}
.ant-menu-dark {
  background: #1e272e !important;
}
.ant-menu-dark .ant-menu-inline.ant-menu-sub {
  background: #323b42 !important;
  box-shadow: none !important;
}
.ant-layout-sider-trigger {
  background: #1890ff !important;
  width: 250px !important;
}
.ant-menu.ant-menu-dark .ant-menu-item-selected,
.ant-menu-submenu-popup.ant-menu-dark .ant-menu-item-selected {
  margin: 0px auto !important;
}
.ant-menu-dark.ant-menu-inline .ant-menu-item,
.ant-menu-dark.ant-menu-inline .ant-menu-submenu-title {
  margin: 0px auto !important;
}
.ant-layout-footer {
  padding: 13.5px 50px;
  color: rgb(255, 255, 255);
  font-size: 14px;
  background: #1e272e;
  font-weight: 500;
}
.login-form-button {
  padding: 0px 50px;
  margin-top: 15px;
  height: 35px;
  border-radius: 3px !important;
  -webkit-border-radius: 3px !important;
  -moz-border-radius: 3px !important;
  -ms-border-radius: 3px !important;
  -o-border-radius: 3px !important;
  background-color: #188fff52 !important;
  border: none !important;
  box-shadow: none;
  text-shadow: none;
  color: #1890ff !important;
  font-weight: bolder;
  transition: 0.2s;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
}
.login-form-button:hover {
  background-color: #1890ff !important;
  color: #fff !important;
}
.card_back {
  background-color: #fff;
  padding: 30px 10px;
  position: relative;
  margin-top: 40px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05) !important;
}
.card_icon {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 50px;
}
.icons_back {
  background-color: #ffffff;
  padding: 35px;
  position: absolute;
  top: -30px;
  left: 10px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.card_desc {
  font-size: 20px;
  margin: 0px !important;
  text-align: center;
}
.loginContainer {
  width: 30%;
  margin: 0px auto;
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  background: #ffffff;
  padding: 50px 40px 40px 40px;
  border-radius: 10px;
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04) !important;
}
.loginTitle {
  font-size: 30px;
  text-transform: uppercase;
  text-align: center;
  font-weight: bolder;
  position: relative;
  bottom: 15px;
}
.ocean {
  height: 5%;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  background: #015871;
}

.wave {
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/85486/wave.svg)
    repeat-x;
  position: absolute;
  top: -198px;
  width: 6400px;
  height: 198px;
  animation: wave 7s cubic-bezier(0.36, 0.45, 0.63, 0.53) infinite;
  transform: translate3d(0, 0, 0);
}

.wave:nth-of-type(2) {
  top: -175px;
  animation: wave 7s cubic-bezier(0.36, 0.45, 0.63, 0.53) -0.125s infinite,
    swell 7s ease -1.25s infinite;
  opacity: 1;
}

@keyframes wave {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: -1600px;
  }
}

@keyframes swell {
  0%,
  100% {
    transform: translate3d(0, -25px, 0);
  }
  50% {
    transform: translate3d(0, 5px, 0);
  }
}
.ql-editor {
  min-height: 300px;
  font-family: "Nunito", sans-serif;
}
/* .ant-input {
  background-color: #f0f2f5 !important;
  background-image: none;
  border: 1px solid #f0f2f5 !important;
} */

.ant-btn-primary[disabled] {
  color: rgba(0, 0, 0, 0.25) !important;
  background-color: #41c1ff !important;
  border-color: #41c1ff !important;
  text-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}
.ant-form-item {
  margin-bottom: 15px !important;
}

.loginBackground {
  background: linear-gradient(rgba(10, 10, 10, 0.623), rgba(27, 27, 27, 0.664)),
    url("/images/login-background.jpg");
  height: 100vh;
  position: relative;
  filter: blur(0px);
}
.apexcharts-svg,
.apexcharts-canvas {
  width: 100% !important;
}
.KOOMPI_LOGO {
  height: 60px;
  padding: 15px 0px;
}
.adminFirstSectionFont {
  font-size: 22px;
}
.btn {
  cursor: pointer;
}
.btnSubmit {
  background: #1890ff59;
  border: #1890ff00;
  color: #1890ff;
  font-weight: bold;
  padding: 0px 30px;
}
.ant-upload.ant-upload-drag p.ant-upload-drag-icon {
  margin-top: 20px !important;
}
.ant-upload.ant-upload-drag .ant-upload {
  padding: 0px !important;
}
.ant-table {
  font-size: 18px !important;
}
.ant-tag,
.ant-menu-inline .ant-menu-item,
.ant-menu-item .anticon + span,
.ant-menu-submenu-title .anticon + span,
.ant-menu-item .anticon,
.ant-menu-submenu-title .anticon {
  font-size: 17px !important;
}
.ant-tag {
  border: none !important;
  padding: 3px 10px;
}
.ant-table-thead > tr > th,
.ant-table-tbody > tr > td {
  padding: 12px !important;
}
.ant-menu-inline > .ant-menu-item {
  height: 45px !important;
  line-height: 45px !important;
}
.ant-tag-green {
  background: #e5ffca !important;
}
.ant-form-item-control {
  line-height: 30px !important;
}
.ql-snow .ql-picker {
  height: 30px !important;
}
.ql-container {
  font-size: 18px !important;
}
.ql-container.ql-snow {
  border: 1px solid #f0f2f5 !important;
}
.ql-toolbar.ql-snow {
  border: 1px solid #f0f2f5 !important;
  box-sizing: border-box;
  padding: 5px 10px !important;
  background: #f0f2f5 !important;
}
.userAvatar .ant-upload {
  width: 100% !important;
  padding: 12.5px !important;
}
.themeChange {
  position: absolute;
  color: #000 !important;
  top: 20px;
  right: -50px;
}
.themeChange img {
  cursor: pointer;
}
.ant-menu-inline {
  border-right: 0px solid transparent;
}
.ce-block__content {
  width: 98% !important;
  max-width: 98% !important;
}
.ce-toolbar__content {
  max-width: 100% !important;
  left: 0px !important;
}
.ce-toolbar__plus {
  left: -25px !important;
}
.ce-settings {
  min-width: 116px !important;
}
#editor-js {
  font-size: 16px !important;
}
